/* 通用樣式 */
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
} 
/* 頁面主體 */

body {
    /* background: linear-gradient(to bottom, rgb(87, 143, 102), rgb(117, 153, 117)); */
    background: linear-gradient(to top,#B6CBBD,#778da9);
    color: #2c3e50; /* 確保文字對比清晰 */
}
/* 頁面內容 */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    padding: 40px;
    text-align: center;
}



/* 頁面內容 */
h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 10px;
}

section {
    padding: 40px;
    text-align: center;
}


/* 聯絡我們頁面 */
.contact-form form {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
}

.contact-form label {
    font-size: 1.1em;
    font-weight: 550;
    display: block;
    margin-top: 10px;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 1em;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 22%;
    border-radius: 10px;
    border: 1.5px solid #3171a2;
    background-color: #f4f6f8;
    outline: none;
}

.contact-form button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #005bb5;
}



/* body{
    background-color: #000;
} */