* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    /* font-weight: 500; */
    /* font-family: sans-serif ; */
} 
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.content {
    /* background-color: #010A43; */
    /* background-color: #6c757d;   ************ */
    /* background-color: #3b3355;
    background-color: #727D73;
    background-color: #B7E0FF;    
    background-color: #124559;
    /* background-color: #6c584c; */
    background-color: #727d73;
    color: #F8FAFC;
}
.second {
    display: flex;
    /* background-color: #D8DBBD; */
    /* background-color: #faf6e3; */
    /* height:45vh; */
    flex-direction: row; /* row 左右，col 上下 */
    /* border: 4px solid orange; */
    justify-content: space-between;
    /* text-align: justify     */
    margin-bottom: 2.5%;
}
.second_left {
    display: flex;
    flex-direction: column;
    width: 55%;
    /* border: 3px solid rgb(230, 15, 51); */
    margin-left: 1.5%;
    justify-content: center;
}
.line2 {
    /* border: 2px dotted indigo; */
}
.articleTitle {
    margin-top: 1%;
}
.articleContent {
    /* margin-top: 5px; */
}
p {
    /* border: 2px solid greenyellow; */
    margin-bottom: 3%;
}
.adoptionFrame {
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: aliceblue;
    margin-bottom: 1%;
}
.adoptionFrame1, .adoptionFrame2 {
    width: 35%;
    border: 5px double #4B5945;
    border-radius: 12px;
    background-color: #D9EAFD;
    color: #543A14;
}
.second_right {
    display: flex;
    flex-direction: row;
    /* border: 3px solid hotpink; */
    justify-content: space-between;
    width: 35%;
    margin-right: 1.5%;
}
.story {
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    /* border: 2px solid dodgerblue; */
    /* margin-right: 1.5%; */
    justify-content: center;
}
h1 {
    margin-bottom: 2%;
    /* font-size: 4vh; */
    /* white-space:nowrap; */
}
.control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* button {
    width: 150%;;
} */
.b1, .b2 {
    height: fit-content;
    align-self: center;    
}
.arrow {
    /* background-color: #ddd; */
    font-size: 24px;
    cursor: pointer; /* 設定當滑鼠懸停在按鈕上時，指標變為手形圖示，表示可點擊 */
    /* padding: 10px 15px;
    border-radius: 50%; */
}
.arrow:hover {
    /* background-color: #bbb; */
}

.b1 {
    border: none;
    margin-right: 4%;
}
.b2 {
    border: none;

    margin-left: 4%;
}
/* __________________________________________________________________________ */
/* 指示器樣式 */
.indicator {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    /* border: 2px double mediumaquamarine; */
    margin-left: 2%;
    background-color: #7f8c8d;
}

.circle.filled {
    background-color: #E5E1DA;
}
.adopterFeedback {
    /* border: 4px double salmon; */
    /* margin-top: 10%; */
    margin-bottom: 2%;
    text-align: justify;
}
.adopter {
    display: flex;
    /* border: 5px solid rebeccapurple; */
    height: fit-content;
    /* justify-content: center; */
    align-items: center;
}
.adopterPicture {
    /* border: 4px double fuchsia; */
    width: 15%;
    height: fit-content;
    margin-left: 2%;
    /* align-content: center; */
    justify-content: center;
}
.adopterInfo {
    /* border: 4px double palevioletred; */
    /* height: ; */
    font-size: 85%;
    margin-left: 4%;
}
.third {
    display: flex;
    flex-direction: column;
    /* border: 2px double gold; */
    /* height: 40vh; */
    /* background-color: #faf6e3; */
}
.chanceTitle {
    display: flex;
    /* border: 2px dotted #2a3663; */
    justify-content: center;
    margin-top: 1%;
}
table {
    text-align: center;
}
#petPic {
    width: 70%;
}

/* 
Coolors
justify-content
    flex-start 預設值，對齊主軸線最前端  |***   |
    flex-end 對齊主軸線最終端  |   ***|
    center 對齊主軸線中央  |  ***  |
    space-around 平均分配寬度和間距 | * * * |
    space-between 平均分配寬度，第一項和最後一項貼齊邊緣 |*  *  *|
 */