* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    /* font-weight: 500; */
    /* font-family: sans-serif ; */
} 
/* 主背景：層次漸變 */
body {
    /* background: linear-gradient(to bottom, rgb(87, 143, 102), rgb(117, 153, 117)); */
    background: linear-gradient(to bottom, #727d73, #B6CBBD);
    color: #2c3e50; /* 確保文字對比清晰 */
}
/* 第二部分樣式 */
.second {
    padding: 20px;
    text-align: center;
    background-color: #D9DFC6;    /*增加層次感的背景色 */
    color: #300c0c; 
    margin: 20px auto;
    border: 1px solid #355f3b; /* 深綠色邊框 */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
}

.second p {
    font-size: 24px;
    font-weight: bold;
    color: #34495e;
}

/* 第三部分主要內容 */
.main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background: linear-gradient(to top,  #4C585B, #657b84); /* 深淺漸變 */
    /* border: 1px solid #ddd; */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: 20px; /* 增加左右間距 */
    color: #ffffff; /* 保持文字清晰 */

}

/* 左側主要內容 */
.main_left {
    flex-basis: 60%; /* 固定左側寬度 */
    max-width: 600px;
    padding: 20px;
    color: #cadaee;


}

.main_left h2 {
    font-size: 22px;
    color: #F4EDD3; /* 字體顏色 */
    margin-bottom: 10px;
}

.main_left p {
    font-size: 16px;
    color: #fff;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* 右側內容樣式 */
.main_right {
    flex-basis: 80%; /* 固定右側寬度 */
    max-width: 500px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fafafa;
    border-left: 1px solid #ddd;
}

.title{
    font-size: 22px;
    color: 	#0080FF;
    margin-bottom: 10px; 
}

/* 圖片切換容器樣式 */
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.arrow {
    background-color: #ddd;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
}

.arrow:hover {
    background-color: #bbb;
}

.content {
    text-align: center;
    padding: 0 20px;
}

/* 動物圖片樣式 */
.animal-img {
    max-width: 100%;
    max-height: 200px; /* 限制圖片高度 */
    height: auto;
    object-fit: contain; /* 確保圖片完整顯示，並適應容器 */
    border-radius: 8px;
    margin-bottom: 10px;
}

/* 指示器樣式 */
.indicator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.circle {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
}

.circle.filled {
    background-color: #7f8c8d;
}

/* 動物詳細資料樣式 */
.name {
    font-size: 18px;
    color: #7f8c8d;
    font-weight: bold;
}

.subtitle, .say {
    font-size: 16px;
    color: #2c3e50;
    margin-top: 10px;
    line-height: 1.5;
}
