*{
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
}
body {
    background-color: #B6CBBD;
}
header{
    /* background-color:#e9d250e1; */
    background-color: #727d73;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
header h1{
    font-size: 50px;
    padding: 7px;
    color: #fff;
    text-align: center;
}
header h3{
    font-weight: 200;/*不能有px*/
    font-size: 15px;
    padding: 7px;
    color: #fff;
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.content{
    display: flex;
    justify-content:space-around;
    color: rgb(84, 39, 39);
    width: 1000px;
    height: 300px;
    
}
.content div input{
    border-radius: 15px;
    outline: none;
    border: 0px;
    border: 1.5px solid #091d62;
    background-color:#eef8fc;
    background-color:#faf6e3;
    padding: 10px;
    font-size: 15px;
}
.content div input:focus{
    box-shadow: 0 0 0px #f7cfa0bf,
                0 0 1px #f6c8a0c1,
                0 0 5px #f1b682be,
                0 0 10px #f7d6a9d4;
    transition: 0.5s;
}

.content p{
    font-size: 12px; 
    margin-left: 10px;
}
.contentLaft{
    width: 270px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.contentCenter{
    width: 270px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.contentRight{
    width: 270px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
footer{
    display: flex;
    justify-content: space-around;
    height: 150px;
}
.QuentionCon{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.QuentionCon div a{
    color: rgb(84, 39, 39);
    border-radius: 20px;
    background-color: #e8e2e2;
    padding: 10px 20px 10px 20px;
}
.QuentionCon p{
    margin-bottom: 40px; 
    color: rgb(84, 39, 39);
}
.getStartBtn{
    display: flex;
    align-items: center;
}
.getStartBtn a{
    color: #eae9ab;
    background-color: #1d3557;
    border-radius: 20px;
    padding: 15px 100px;
    margin-top: 40px;
}